* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
}
body {
  font-family: sans-serif;
}
.app {
  position: relative;
  padding: 20px;
  overflow-x: hidden;
}
.header {
  font-size: 2.2rem;
  color: brown;
  text-align: center;
}
.header span {
  font-size: 3.5rem;
  color: brown;
}
.container {
  padding: 5px;
  position: relative;
}
.container .resume-header {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 20px 0;
}
.form {
  padding: 5px;
  width: 80%;
  margin: 20px auto;
}
.form input {
  display: block;
  width: 50%;
  max-width: 90%;
  margin: 10px auto;
  padding: 15px 5px 10px 5px;
  font-size: 1rem;
  outline: none;
  border: 1px solid brown;
  border-radius: 5px;
}
.form textarea {
  display: block;
  width: 60%;
  max-width: 90%;
  margin: 10px auto;
  padding: 15px 5px 5px 5px;
  font-size: 0.9rem;
  outline: none;
  border: 1px solid brown;
  border-radius: 5px;
}
.form label {
  display: block;
  text-align: center;
  margin-top: 30px;
}
.form button {
  display: block;
  min-width: 90px;
  cursor: pointer;
  padding: 10px 15px;
  margin: 20px auto;
  background-color: brown;
  color: white;
  font-size: 1rem;
  border: none;
}
.form .card {
  padding: 5px;
  border: 1px solid brown;
  margin: 10px 0;
  border-radius: 5px;
}
.card h2 {
  text-align: center;
  margin: 20px 0;
}
.card h2::after {
  display: block;
  content: "";
  width: 5%;

  border: 2px solid brown;
  margin: 5px auto;
}

.resume .preview {
  display: block;
  background-color: white;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid brown;
}
.preview .close {
  text-align: right;
}
.close-text {
  display: inline-block;
  cursor: pointer;
  color: brown;
  font-size: 1.5rem;
  font-weight: 900;
}
.preview-header {
  text-align: center;
  margin: 20px 0;
  font-size: 0.95rem;
}
.preview-main {
  margin: 10px 0;
}
.personal {
  text-align: center;
  padding: 10px 0;
}
.personal .name {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.name::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  margin: 4px auto;
  background-color: brown;
}
.personal .acadamy {
  font-size: 1.2rem;
}

.side {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}
.side h2 {
  margin: 20px 0;
  font-size: 1.4rem;
  color: brown;
}
.side p {
  margin: 10px 0;
  font-size: 0.9rem;
}
.side ul {
  list-style: none;
}
.side ul li {
  margin: 10px 0 5px 0;
}

.side1 {
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
.side2 {
  width: 55%;
  min-width: 280px;
  padding: 10px 5px;
}
.side1 {
  width: 300px;
}
.side2 .summery p {
  width: 90%;
}
.education {
  margin-top: 40px;
}
.hide {
  display: none;
}
